
/* 
darkGray: #404040;
cosmicLatte: #FFF8E7;
lightGray: #c1c1c1; 
*/

.bg{
    -fx-background-color: #c1c1c1;

}

.geral{
    -fx-background-color: #404040;
    -fx-text-fill: #FFF8E7;
    -fx-background-radius: 5px;
}

.textField{
    -fx-text-size: 12px;
}

.but{
    -fx-font-size: 16px;
}

.menuBut{
    -fx-background-color: #989898;
    -fx-border-color: #c1c1c1;
}


.rec{
    -fx-fill: #464A50;
    -fx-opacity: 0.3;
    -fx-stroke: black;
    -fx-stroke-width: 1.5px;
    -fx-arc-height: 20px;
    -fx-arc-width:  25px;
}

.table-view{
    -fx-text-fill: #FFF8E7;
}

.table-column{
    -fx-background-color: #f3f3f3;
    -fx-font-size: 12px;
}

.table-row-cell:selected .text {
        -fx-fill: red;
}

.column-header{
    -fx-background-color: #BBBBBB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.scroll-bar{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.choice-box > .label { 
    -fx-text-fill: white;
}

.choice-box .context-menu{ 
    -fx-background-color: #404040; 
}

.choice-box .menu-item:focused{
    -fx-background-color: #989898;
}

.choice-box .menu-item:focused > .label{ 
    -fx-text-fill: black;
}

.choice-box .menu-item > .label { 
    -fx-text-fill: #FFF8E7; 
}

.choice-box .menu-item:focused > .label { 
    -fx-text-fill: black; 
}

.grid Line {
    -fx-stroke: #464A50;
}